In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('./data/CSV/data.csv')

In [3]:
columns_of_interest = ['Previous_owners']

for column in columns_of_interest:
    unique_values = df[column].unique()[:1000]
    print(f"{column}: {unique_values}")

Previous_owners: ['1' '2' nan '00' '0' 'يد ثانية' '4' 'يد ثانيه' '3' 'ثالثة'
 'غير منمر استيراد الماني' 'غير منمرة' '٨' 'يد ثالثة' 'ثانية' 'يد سادسة'
 '5' 'صفر' '9' '0000' 'رابعه' '٤' 'يد رابعة' '٢' 'يد ثالثه' '6' '7' '...'
 '......' 'ثانيه' 'واحد' 'اربعة' 'اولا' '٣' 'غير منمره' 'يد تالته' '٦'
 'يد رابعه' 'يد ثالثة ( فتيات)' '159000' '12' '-' 'مش منمر' '0 مستورده'
 'يد تانيه' '10' 'مستورد' 'يد 4' '00000' 'استيراد مباشر من كوريا'
 'يد خامسة' '٥' 'يد 5' '********' 'نعم' 'مش منمرة' 'يد 3' 'يد خامسه' '٩'
 '٧' 'للبيع' '8' 'مش منمره' 'ثالثه' '11' '٠' 'رابعة' 'منمره' '0مستورد'
 '03' 'يد 2' 'يد عاشره' 'يدثانيه' 'لا يوجد' '56' '.' '١١' 'لايوجد'
 'مستورد شركة' '13' '١٠' 'ايد ثانيه' 'يد صفر' 'استيراد الماني' '16'
 'غير منمر' '17' 'يد تاسعة' 'مستود غير منمر' 'يد ٢' 'اثنان' 'يد3'
 '0استيراد' 'يد تاني' 'يد ثني' '.........' 'يدثالثة' 'يد خامساً' '000000'
 'اصحاب سابقون صفر' 'يد4' '000' 'يد ٤ بس نخب السيارة' 'يد ثالث' 'مش منمرا'
 '78888877766' '١٥' 'يد ثاتيه' '**********' 'مستوردة غير مرخصة' 'يد تانية'
 '170000' '15' '١٢' 'مستوردة' 'صفرض' '0 مستورد كوري' 'ايد 2' '٠٠٠٠' '١٨'
 'يد ٤' 'أيد تانية' '@' 'يدثانية' '٠٠٠٠٠٠٠٠٠' 'استراد شخصي' '00000000'
 '٠٠٠٠٠٠' '******' 'تانيه' '٠٠٠٠٠٠٠٠٠٠' 'يد خمسة' 'خمسه' 'استيراد كوري'
 'يد6' '2يد' '٠٠' 'يدتانيه' 'يدخامسه' '....' 'يد 6'
 'من الشركه مباشر لا يوجد اصحاب سابقون' 'استيراد' '123423' 'عدد٣' 'يد٤'
 'اصل تدريب سواقه' 'تالته' 'يد أولى بعد الاستيراد' 'يد ٣' 'يد ثاني'
 'يد ١٧' 'انا' '١٧' 'يد أولى 1' 'يد أولي' 'ثانبه' 'يد سابعة' '٠٠٠٠٠٠٠٠'
 'اشخاص' 'يد ثاني.' 'يد 0' 'يد ثامنه' 'ايد ثانية' 'ثمانيه' 'ايد رابعه'
 'ثالث' 'استيراد كوريا' 'تانبه' 'استيراد مباشر من اوروبا' 'يد أولئ' 'يد٢'
 'خمسة' 'يد اولى فقط' 'وارد المانيا' 'خامسة' 'يد ثانيا' 'خمس' 'استراد'
 'يدثالثه' 'يد أولى،...' 'اولى\x89' 'تاني' 'Ooo' 'يد2' '٠٠٠٠٠' 'يد ا'
 'يد اوله' 'ايدثانيه' 'ثاني' 'فقط يد اولى' 'يد٣' 'سحب شركة'
 'يد اولى، استيراد شخصي' 'شطب' 'ا' 'يد اولئ' 'يد اولى ( شركة )' 'مستورده'
 '14' 'يد التالته' '04' 'يد اربعه' '12345' 'O' 'يد٥' 'يد  ثانية' '1000'
 'يد سابعه' 'ايد ثالثه' 'يدأولى' 'صفرر' 'يد ٧' 'خامسه' '، 0' '٠٠٠٠٩'
 'استيراد مباشر' 'اصل شركة' 'يد ٥' 'يد 8' '؟' '18' 'مستوردة غير منمرة'
 'يد ١' 'يد واحدة' 'استيراد كوريا - جديد مش منمر' 'تالثه' '0778244'
 'يداولى سحب شركه' '..' 'يد اولى استيراد شخصي' 'E' 'يد' '19' '11111'
 '0 استيراد كوري' 'ايد أولى' '0000000' 'استيراد المانيا' 'تانية' 'يديانيه'
 'سابعه' ',3' 'يد اولة' '01' '?' 'يد  ١' '٠٠٠٠٠٠٠' 'مشطوب'
 'يد اولى الماني' 'يد اولىً' 'ايد ثالثة' 'غير منمرمستوردة' 'لا شيء'
 'خصوصي' 'يد واحد' 'يد اةلي' '،' 'يدى اوله' 'مش منمر . (صفر)'
 'أستيراد ألماني' '---' 'Zero' 'يد ٩' 'ايد 3' 'الثانية' 'يد ثالثي' '٤٤٤٤٤'
 '4 نفس الشخص' 'يد عاشرة' 'بد اولى مستورد' 'ثالثى' '0 استيراد']

In [4]:
import re

def clean_previous_owners(value):
    word_to_number = {
        'صفر': 0,
        'Zero': 0,
        'غير منمر': 0,
        'استيراد': 0,
        'مستورد': 0,
        'اول': 1,
        'ثاني': 2,
        'ثالث': 3,
        'رابع': 4,
        'خامس': 5,
        'سادس': 6,
        'سابع': 7,
        'ثامن': 8,
        'تاسع': 9,
        'عاشر': 10,
        'حادي عشر': 11,   
    }
    
    digits = re.findall(r'\b\d+\b', str(value))
    
    if digits:
        return int(digits[0])
    else:
        for word, number in word_to_number.items():
            if word in str(value):
                return number
        return None

df['Previous_owners'] = df['Previous_owners'].apply(clean_previous_owners)

In [5]:
df['Previous_owners'] = pd.to_numeric(df['Previous_owners'], errors='coerce').astype('Int64')

In [6]:
df.to_csv('./data/CSV/data.csv', index=False)

In [7]:
columns_of_interest = ['Previous_owners']

for column in columns_of_interest:
    unique_values = df[column].unique()[:2000]
    print(f"{column}: {unique_values}")

Previous_owners: <IntegerArray>
[          1,           2,        <NA>,           0,           4,           3,
           8,           6,           5,           9,           7,      159000,
          12,          10,          11,          56,          13,          16,
          17, 78888877766,          15,      170000,          18,      123423,
          14,       12345,        1000,      778244,          19,       11111,
       44444]
Length: 31, dtype: Int64

In [8]:
value_counts = df['Previous_owners'].value_counts()

print("Previous_owners Counts:")
for value, count in zip(value_counts.index, value_counts.values):
    print(f"{value}: {count}")

Previous_owners Counts:
1: 1527
2: 1197
3: 763
0: 688
4: 373
5: 224
6: 89
7: 58
8: 33
9: 28
10: 21
12: 15
11: 14
15: 4
12345: 3
18: 3
17: 3
13: 2
78888877766: 1
16: 1
170000: 1
56: 1
123423: 1
14: 1
159000: 1
1000: 1
778244: 1
19: 1
11111: 1
44444: 1

In [9]:
df['Previous_owners'] = pd.to_numeric(df['Previous_owners'], errors='coerce')

df.loc[df['Previous_owners'] > 10, 'Previous_owners'] = np.nan

In [10]:
value_counts = df['Previous_owners'].value_counts()

print("Previous_owners Counts:")
for value, count in zip(value_counts.index, value_counts.values):
    print(f"{value}: {count}")

Previous_owners Counts:
1: 1527
2: 1197
3: 763
0: 688
4: 373
5: 224
6: 89
7: 58
8: 33
9: 28
10: 21

In [11]:
df.isna().sum()

Car                   0
Year                  0
Price                 0
Color                 0
Fuel                  0
Origin                0
License               0
Gear                  0
Glass                 0
Power                 0
Meter              1941
Passengers            0
Payment               0
Sale                  0
Previous_owners    1863
Additions             0
dtype: int64

In [13]:
df['Previous_owners'].describe()

count      5001.0
mean     2.097181
std      1.748186
min           0.0
25%           1.0
50%           2.0
75%           3.0
max          10.0
Name: Previous_owners, dtype: Float64

In [14]:
mean_previous_owners = df['Previous_owners'].mean()
print(mean_previous_owners.astype(int))

df['Previous_owners'].fillna(mean_previous_owners.astype(int), inplace=True)

2

In [15]:
df.isna().sum()

Car                   0
Year                  0
Price                 0
Color                 0
Fuel                  0
Origin                0
License               0
Gear                  0
Glass                 0
Power                 0
Meter              1941
Passengers            0
Payment               0
Sale                  0
Previous_owners       0
Additions             0
dtype: int64

In [16]:
df.to_csv('./data/CSV/data.csv', index=False)

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('./data/CSV/data.csv')

In [3]:
columns_of_interest = ['Previous_owners']

for column in columns_of_interest:
    unique_values = df[column].unique()[:1000]
    print(f"{column}: {unique_values}")

Previous_owners: ['1' '2' nan '00' '0' 'يد ثانية' '4' 'يد ثانيه' '3' 'ثالثة'
 'غير منمر استيراد الماني' 'غير منمرة' '٨' 'يد ثالثة' 'ثانية' 'يد سادسة'
 '5' 'صفر' '9' '0000' 'رابعه' '٤' 'يد رابعة' '٢' 'يد ثالثه' '6' '7' '...'
 '......' 'ثانيه' 'واحد' 'اربعة' 'اولا' '٣' 'غير منمره' 'يد تالته' '٦'
 'يد رابعه' 'يد ثالثة ( فتيات)' '159000' '12' '-' 'مش منمر' '0 مستورده'
 'يد تانيه' '10' 'مستورد' 'يد 4' '00000' 'استيراد مباشر من كوريا'
 'يد خامسة' '٥' 'يد 5' '********' 'نعم' 'مش منمرة' 'يد 3' 'يد خامسه' '٩'
 '٧' 'للبيع' '8' 'مش منمره' 'ثالثه' '11' '٠' 'رابعة' 'منمره' '0مستورد'
 '03' 'يد 2' 'يد عاشره' 'يدثانيه' 'لا يوجد' '56' '.' '١١' 'لايوجد'
 'مستورد شركة' '13' '١٠' 'ايد ثانيه' 'يد صفر' 'استيراد الماني' '16'
 'غير منمر' '17' 'يد تاسعة' 'مستود غير منمر' 'يد ٢' 'اثنان' 'يد3'
 '0استيراد' 'يد تاني' 'يد ثني' '.........' 'يدثالثة' 'يد خامساً' '000000'
 'اصحاب سابقون صفر' 'يد4' '000' 'يد ٤ بس نخب السيارة' 'يد ثالث' 'مش منمرا'
 '78888877766' '١٥' 'يد ثاتيه' '**********' 'مستوردة غير مرخصة' 'يد تانية'
 '170000' '15' '١٢' 'مستوردة' 'صفرض' '0 مستورد كوري' 'ايد 2' '٠٠٠٠' '١٨'
 'يد ٤' 'أيد تانية' '@' 'يدثانية' '٠٠٠٠٠٠٠٠٠' 'استراد شخصي' '00000000'
 '٠٠٠٠٠٠' '******' 'تانيه' '٠٠٠٠٠٠٠٠٠٠' 'يد خمسة' 'خمسه' 'استيراد كوري'
 'يد6' '2يد' '٠٠' 'يدتانيه' 'يدخامسه' '....' 'يد 6'
 'من الشركه مباشر لا يوجد اصحاب سابقون' 'استيراد' '123423' 'عدد٣' 'يد٤'
 'اصل تدريب سواقه' 'تالته' 'يد أولى بعد الاستيراد' 'يد ٣' 'يد ثاني'
 'يد ١٧' 'انا' '١٧' 'يد أولى 1' 'يد أولي' 'ثانبه' 'يد سابعة' '٠٠٠٠٠٠٠٠'
 'اشخاص' 'يد ثاني.' 'يد 0' 'يد ثامنه' 'ايد ثانية' 'ثمانيه' 'ايد رابعه'
 'ثالث' 'استيراد كوريا' 'تانبه' 'استيراد مباشر من اوروبا' 'يد أولئ' 'يد٢'
 'خمسة' 'يد اولى فقط' 'وارد المانيا' 'خامسة' 'يد ثانيا' 'خمس' 'استراد'
 'يدثالثه' 'يد أولى،...' 'اولى\x89' 'تاني' 'Ooo' 'يد2' '٠٠٠٠٠' 'يد ا'
 'يد اوله' 'ايدثانيه' 'ثاني' 'فقط يد اولى' 'يد٣' 'سحب شركة'
 'يد اولى، استيراد شخصي' 'شطب' 'ا' 'يد اولئ' 'يد اولى ( شركة )' 'مستورده'
 '14' 'يد التالته' '04' 'يد اربعه' '12345' 'O' 'يد٥' 'يد  ثانية' '1000'
 'يد سابعه' 'ايد ثالثه' 'يدأولى' 'صفرر' 'يد ٧' 'خامسه' '، 0' '٠٠٠٠٩'
 'استيراد مباشر' 'اصل شركة' 'يد ٥' 'يد 8' '؟' '18' 'مستوردة غير منمرة'
 'يد ١' 'يد واحدة' 'استيراد كوريا - جديد مش منمر' 'تالثه' '0778244'
 'يداولى سحب شركه' '..' 'يد اولى استيراد شخصي' 'E' 'يد' '19' '11111'
 '0 استيراد كوري' 'ايد أولى' '0000000' 'استيراد المانيا' 'تانية' 'يديانيه'
 'سابعه' ',3' 'يد اولة' '01' '?' 'يد  ١' '٠٠٠٠٠٠٠' 'مشطوب'
 'يد اولى الماني' 'يد اولىً' 'ايد ثالثة' 'غير منمرمستوردة' 'لا شيء'
 'خصوصي' 'يد واحد' 'يد اةلي' '،' 'يدى اوله' 'مش منمر . (صفر)'
 'أستيراد ألماني' '---' 'Zero' 'يد ٩' 'ايد 3' 'الثانية' 'يد ثالثي' '٤٤٤٤٤'
 '4 نفس الشخص' 'يد عاشرة' 'بد اولى مستورد' 'ثالثى' '0 استيراد']

In [4]:
import re

def clean_previous_owners(value):
    word_to_number = {
        'صفر': 0,
        'Zero': 0,
        'غير منمر': 0,
        'استيراد': 0,
        'مستورد': 0,
        'اول': 1,
        'ثاني': 2,
        'ثالث': 3,
        'رابع': 4,
        'خامس': 5,
        'سادس': 6,
        'سابع': 7,
        'ثامن': 8,
        'تاسع': 9,
        'عاشر': 10,
        'حادي عشر': 11,   
    }
    
    digits = re.findall(r'\b\d+\b', str(value))
    
    if digits:
        return int(digits[0])
    else:
        for word, number in word_to_number.items():
            if word in str(value):
                return number
        return None

df['Previous_owners'] = df['Previous_owners'].apply(clean_previous_owners)

In [5]:
df['Previous_owners'] = pd.to_numeric(df['Previous_owners'], errors='coerce').astype('Int64')

In [6]:
df.to_csv('./data/CSV/data.csv', index=False)

In [7]:
columns_of_interest = ['Previous_owners']

for column in columns_of_interest:
    unique_values = df[column].unique()[:2000]
    print(f"{column}: {unique_values}")

Previous_owners: <IntegerArray>
[          1,           2,        <NA>,           0,           4,           3,
           8,           6,           5,           9,           7,      159000,
          12,          10,          11,          56,          13,          16,
          17, 78888877766,          15,      170000,          18,      123423,
          14,       12345,        1000,      778244,          19,       11111,
       44444]
Length: 31, dtype: Int64

In [8]:
value_counts = df['Previous_owners'].value_counts()

print("Previous_owners Counts:")
for value, count in zip(value_counts.index, value_counts.values):
    print(f"{value}: {count}")

Previous_owners Counts:
1: 1527
2: 1197
3: 763
0: 688
4: 373
5: 224
6: 89
7: 58
8: 33
9: 28
10: 21
12: 15
11: 14
15: 4
12345: 3
18: 3
17: 3
13: 2
78888877766: 1
16: 1
170000: 1
56: 1
123423: 1
14: 1
159000: 1
1000: 1
778244: 1
19: 1
11111: 1
44444: 1

In [9]:
df['Previous_owners'] = pd.to_numeric(df['Previous_owners'], errors='coerce')

df.loc[df['Previous_owners'] > 10, 'Previous_owners'] = np.nan

In [10]:
value_counts = df['Previous_owners'].value_counts()

print("Previous_owners Counts:")
for value, count in zip(value_counts.index, value_counts.values):
    print(f"{value}: {count}")

Previous_owners Counts:
1: 1527
2: 1197
3: 763
0: 688
4: 373
5: 224
6: 89
7: 58
8: 33
9: 28
10: 21

In [11]:
df.isna().sum()

Car                   0
Year                  0
Price                 0
Color                 0
Fuel                  0
Origin                0
License               0
Gear                  0
Glass                 0
Power                 0
Meter              1941
Passengers            0
Payment               0
Sale                  0
Previous_owners    1863
Additions             0
dtype: int64

In [13]:
df['Previous_owners'].describe()

count      5001.0
mean     2.097181
std      1.748186
min           0.0
25%           1.0
50%           2.0
75%           3.0
max          10.0
Name: Previous_owners, dtype: Float64

In [14]:
mean_previous_owners = df['Previous_owners'].mean()
print(mean_previous_owners.astype(int))

df['Previous_owners'].fillna(mean_previous_owners.astype(int), inplace=True)

2

In [15]:
df.isna().sum()

Car                   0
Year                  0
Price                 0
Color                 0
Fuel                  0
Origin                0
License               0
Gear                  0
Glass                 0
Power                 0
Meter              1941
Passengers            0
Payment               0
Sale                  0
Previous_owners       0
Additions             0
dtype: int64

In [16]:
df.to_csv('./data/CSV/data.csv', index=False)